  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  
  main {
      flex: 1 0 auto;
  }
  
  h5 {
      font-size: 1em;
      font-weight: 800;
      text-align: center;
      margin-top: 1.2em;
  }
