/* @import "./materialize.min.css"; */

/* require('./css/materialize.min.css'); */

body::selection {
  background: rgba(0, 0, 0, 0);
  /* WebKit/Blink Browsers */
}

body::-moz-selection {
  background: rgba(0, 0, 0, 0);
  /* Gecko Browsers */
}

.above {
  z-index: 20000;
}

.noBottom {
  margin-bottom: 1vh;
}

.clip {
  max-width: 100vw;
  overflow: hidden;
  height: 95vh;
}

.emotion {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.forecastDisplay {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(4);
  transform: scale(4);
  z-index: 3;
}

.noBackground {
  background: none;
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

#toast-container {
  z-index: 0;
  position: absolute;
  overflow: hidden;
  max-height: 90vh;
  top: 0;
}

.toast {
  color: #0288d1;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  font-weight: 500;
}

.picture {
  overflow: visible !important;
}

.play {
  position: absolute;
  max-width: 116px;
  width: 26%;
  z-index: 100;
  bottom: 1vh;
  right: 2vw;
  -webkit-transition: -webkit-transform 90ms;
  transition: -webkit-transform 90ms;
  transition: transform 90ms;
  transition: transform 90ms, -webkit-transform 90ms;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  cursor: pointer;
}

.recommendation-zone {
  position: absolute;
  max-width: 23%;
  z-index: 100;
  top: 10vh;
  left: 2vw;
  -webkit-transition: -webkit-transform 90ms;
  transition: -webkit-transform 90ms;
  transition: transform 90ms;
  transition: transform 90ms, -webkit-transform 90ms;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  cursor: pointer;
}

.recommendation {
  margin-left: 30px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  padding: 4px 4px 4px 4px;
}

#recommendation-page {
  max-width: 175;
}

#explanation-page {
  max-width: 100%;
}

.recommendation.bubble {
  border-radius: 10px 10px 10px 10px;
}

.recommendation div div {
  padding-left: 10px;
}

#recommendation-label {
  padding-left: 0px;
}

#speech {
  margin-top: -10px;
  margin-left: 30px;
  height: 10px;
  width: 10px;
  border-left-style: solid;
  border-bottom-style: solid;
}

#agent {
  margin-top: -10px;
}

#info-button {
  margin: auto;
  width: 20%;
}

.operations {
  margin-bottom: 8vh;
  width: 70%;
}

.play:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.play:hover:not(:active) {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.bold {
  font-weight: 800;
}

output {
  position: absolute;
  background: #e64a19;
  color: #fafafa;
  font-size: 1em;
  border-radius: 10px;
  top: -12px;
  width: 20px;
  height: 20px;
  padding-top: .25em;
  padding-left: .45em;
}

output.price-thumb {
  width: 30px;
  padding-left: .35em;
  margin-left: -5px;
}

.thumb {
  display: none;
}

input[type=range] + output {
  display: block;
  transform: translateX(-50%);
}

.range-field {
  position: relative;
}

input[type="range"] {
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="range"]::-webkit-slider-runnable-track {
  /*height: .3em;*/
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  background: rgba(2, 119, 189, 0.4);
  border: none;
  margin: 1.5em 0 0;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(2, 119, 189, 0.4);
}

input#cups[type="range"]::-webkit-slider-thumb,
input#signs[type="range"]::-webkit-slider-thumb,
input#price[type="range"]::-webkit-slider-thumb,
input#lemons[type="range"]::-webkit-slider-thumb,
input#sugar[type="range"]::-webkit-slider-thumb,
input#ice[type="range"]::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  box-shadow: none;
  -webkit-transform: scale(2.4) translateY(-1.4px);
  transform: scale(2.4) translateY(-1.4px);
}

input#cups[type="range"]::-webkit-slider-thumb {
  background: url("../img/cup.svg");
}

input#signs[type="range"]::-webkit-slider-thumb {
  background: url("../img/sign.svg");
}

input#price[type="range"]::-webkit-slider-thumb {
  background: url("../img/usd.svg");
}

input#lemons[type="range"]::-webkit-slider-thumb {
  background: url("../img/lemon-simple.svg");
}

input#sugar[type="range"]::-webkit-slider-thumb {
  background: url("../img/sugar-simple.svg");
}

input#ice[type="range"]::-webkit-slider-thumb {
  background: url("../img/ice-cubes-simple.svg");
}

/* Alert */
.custom-modal {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.alert {
  padding: 1em;
  margin: 25% auto;
  max-width: 55%;
  border: 2px solid transparent;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  font-size: 1.5em;
  text-align: center;
}

.alert-close {
  color: #666;
  font-size: .75em;
  font-weight: bold;
  border: 2px solid;
  border-radius: 2px;
  border-color: #112;
  margin-top: 10px;
  margin-right: 35%;
  margin-left: 35%;
}



/* Lemonade Animation */

.glass {
  -webkit-animation-name: appear;
  animation-name: appear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.liquid {
  -webkit-animation: pour 10s ease-in-out,
    gravity 5s infinite alternate ease-in-out 10s;
  animation: pour 10s ease-in-out, gravity 5s infinite alternate ease-in-out 10s;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.liquid2 {
  -webkit-animation: pour 13s reverse ease-in-out,
    dissapearInfinite 1s infinite 13s;
  animation: pour 13s reverse ease-in-out, dissapearInfinite 1s infinite 13s;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.cubes {
  -webkit-animation: dissapearInfinite 10s, appear 1s 10s,
    appearInfinite 1s infinite 11s;
  animation: dissapearInfinite 10s, appear 1s 10s,
    appearInfinite 1s infinite 11s;
}

.cubes2 {
  -webkit-animation: appear 3s reverse, dissapearInfinite 1s infinite 3s;
  animation: appear 3s reverse, dissapearInfinite 1s infinite 3s;
}

.lemon {
  -webkit-animation: dissapearInfinite 10s, comeDown 7s 1 normal ease-in-out 10s;
  animation: dissapearInfinite 10s, comeDown 7s 1 normal ease-in-out 10s;
}

.lemon2 {
  -webkit-animation: comeDown 5s reverse ease-in-out,
    dissapearInfinite 1s infinite 5s;
  animation: comeDown 5s reverse ease-in-out, dissapearInfinite 1s infinite 5s;
}

.straw {
  -webkit-animation: dissapearInfinite 10s, comeDown 5s 1 ease-in-out 10s,
    bob 4s infinite ease-in-out alternate 15s;
  animation: dissapearInfinite 10s, comeDown 5s 1 ease-in-out 10s,
    bob 4s infinite ease-in-out alternate 15s;
}

.straw2 {
  -webkit-animation: bob 6s reverse ease-in-out,
    comeDown 5s reverse ease-in-out 6s, dissapearInfinite 1s infinite 11s;
  animation: bob 6s reverse ease-in-out, comeDown 5s reverse ease-in-out 6s,
    dissapearInfinite 1s infinite 11s;
}

@-webkit-keyframes pour {
  0% {
    -webkit-transform: scaleX(0.1) scaleY(18) translateY(-10em);
    transform: scaleX(0.1) scaleY(18) translateY(-10em);
  }
  30% {
    -webkit-transform: scaleX(0.05) scaleY(12);
    transform: scaleX(0.05) scaleY(12);
  }
  45% {
    -webkit-transform: scaleX(0.08) scaleY(2);
    transform: scaleX(0.08) scaleY(2);
  }
  50% {
    -webkit-transform: scaleX(0.05) scaleY(0.02) translateY(0em);
    transform: scaleX(0.05) scaleY(0.02) translateY(0em);
  }
  58% {
    -webkit-transform: scaleX(0.8) scaleY(0.02);
    transform: scaleX(0.8) scaleY(0.02);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1) translateY(0em);
    transform: scaleX(1) scaleY(1) translateY(0em);
  }
}

@keyframes pour {
  0% {
    -webkit-transform: scaleX(0.1) scaleY(18) translateY(-10em);
    transform: scaleX(0.1) scaleY(18) translateY(-10em);
  }
  30% {
    -webkit-transform: scaleX(0.05) scaleY(12);
    transform: scaleX(0.05) scaleY(12);
  }
  45% {
    -webkit-transform: scaleX(0.08) scaleY(2);
    transform: scaleX(0.08) scaleY(2);
  }
  50% {
    -webkit-transform: scaleX(0.05) scaleY(0.02) translateY(0em);
    transform: scaleX(0.05) scaleY(0.02) translateY(0em);
  }
  58% {
    -webkit-transform: scaleX(0.8) scaleY(0.02);
    transform: scaleX(0.8) scaleY(0.02);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1) translateY(0em);
    transform: scaleX(1) scaleY(1) translateY(0em);
  }
}

@-webkit-keyframes gravity {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.97);
    transform: scaleY(0.97);
  }
  100% {
    -webkit-transform: scaleY(1.03);
    transform: scaleY(1.03);
  }
}

@keyframes gravity {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.97);
    transform: scaleY(0.97);
  }
  100% {
    -webkit-transform: scaleY(1.03);
    transform: scaleY(1.03);
  }
}

@-webkit-keyframes appearInfinite {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 1;
  }
}

@keyframes appearInfinite {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 1;
  }
}

@-webkit-keyframes dissapearInfinite {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 0;
  }
}

@keyframes dissapearInfinite {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

@keyframes appear {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

@-webkit-keyframes comeDown {
  0% {
    -webkit-transform: translateY(-96em);
    transform: translateY(-96em);
  }
  50% {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
  }
  80% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
  }
}

@keyframes comeDown {
  0% {
    -webkit-transform: translateY(-96em);
    transform: translateY(-96em);
  }
  50% {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
  }
  80% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
  }
}

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
    -webkit-transform: translateX(0em);
    transform: translateX(0em);
  }
  50% {
    -webkit-transform: translateX(0.19em);
    transform: translateX(0.19em);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  100% {
    -webkit-transform: translateY(0.2em);
    transform: translateY(0.2em);
    -webkit-transform: translateX(0.1em);
    transform: translateX(0.1em);
  }
}

@keyframes bob {
  0% {
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
    -webkit-transform: translateX(0em);
    transform: translateX(0em);
  }
  50% {
    -webkit-transform: translateX(0.19em);
    transform: translateX(0.19em);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  100% {
    -webkit-transform: translateY(0.2em);
    transform: translateY(0.2em);
    -webkit-transform: translateX(0.1em);
    transform: translateX(0.1em);
  }
}

.cls-1 {
  fill: #ffe424;
}

.cls-2 {
  fill: #fff543;
}

.cls-3 {
  opacity: 0.58;
}

.cls-14,
.cls-22,
.cls-4,
.cls-8 {
  fill: #fff;
}

.cls-5 {
  opacity: 0.05;
}

.cls-6 {
  fill: #2a6e8c;
}

.cls-7 {
  fill: #0b3144;
}

.cls-13,
.cls-20,
.cls-7,
.cls-8 {
  opacity: 0.2;
}

.cls-9 {
  fill: #aeffff;
  opacity: 0.78;
}

.cls-10 {
  fill: #e8b06a;
  opacity: 0.5;
}

.cls-11 {
  fill: #e9f4e9;
}

.cls-11,
.cls-15,
.cls-16,
.cls-17 {
  opacity: 0.91;
}

.cls-12 {
  fill: #ff551d;
}

.cls-13 {
  fill: #18407a;
}

.cls-14 {
  opacity: 0.07;
}

.cls-15 {
  fill: #e8efe8;
}

.cls-16 {
  fill: #f3fff3;
}

.cls-17 {
  fill: #e3e8e3;
}

.cls-18 {
  fill: #efff00;
  opacity: 0.53;
}

.cls-19 {
  fill: #66b3e3;
  opacity: 0.04;
}

.cls-20 {
  fill: #2d6566;
}

.cls-21 {
  fill: #267391;
  opacity: 0.09;
}

.cls-22 {
  opacity: 0.15;
}
