  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>






<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Lemonade</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="canonical" href="./index.html">
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  <link rel="manifest" href="./manifest.json">
  <link rel="mask-icon" href="./safari-pinned-tab.svg"
    color="#5bbad5">
  <link rel="shortcut icon" href="./favicon.ico">
  <meta name="msapplication-config" content="./browserconfig.xml">
  <meta name="theme-color" content="#81d4fa">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    h1,
    h4 {
      color: yellow;
    }

  </style>

  <body style="background-color:#81d4fa;" class="light-blue-text text-darken-4 container flow-text">
  <section id="gameSection">
<div id="loader">
  <h1 id="lemonade">Lemonade</h1>
  <h4 id="objective">Objective</h4>
  <p>The purpose of Lemonade is to quickly and efficiently earn money by carefully
    balancing three economic elments: the price of lemonade cups, the amount
    of signs to market your lemonade stand and the price of each cup.</p>
  <h4 id="how-to-play">How to Play</h4>
  <ol>
    <li>Use the first slider with the cup icon to set the number of cups you want
      to make. Each cup will cost you $1.</li>
    <li>Use the next slider to set the number of signs you want to make to market
      your lemonade stand. Each sign will cost you $0.50.</li>
    <li>Use the last slider to set the price for each lemonade cup.</li>
    <li>Press the lemonade to start the simulation and get the results for your
      business day!</li>
  </ol>
  <h4 id="tips">Tips</h4>
  <ul>
    <li>Observe the weather and finances. People are more likely to buy lemonade
      on hot and sunny days and not very likely to do so on rainy days.</li>
    <li>Keep track of your previous sales. You will start to notice the correlation
      between weather and sales.</li>
    <li>Try selling in bulk for low prices or selling few items at a higher price.</li>
  </ul>
  <h4 id="about-lemonade">About Lemonade</h4>
  <p>While the source code for the original Lemonade Stand game was used as inspiration,
    the code for this game was developed to insert more randomness and unpredictability
    into the daily sales while maintaining the need for sound business, marketing
    and economic practices.</p>
  <h4 id="donate">Donate</h4>
  <p>If you enjoyed this game, support Lemonade's development by making a donation.</p>
  <p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="NWT2PUFW6NFLC">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
        border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
        width="1" height="1">
    </form>
  </p>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large yellow" onclick="startGame()" onclick="window.navigator.vibrate(20);"><i class="large mdi mdi-play mdi-36px light-blue-text">Play</i></a>
</div>
</section>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-105249591-1', 'auto');
  ga('send', 'pageview');
</script>
</body>

</html>
