  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link href="./css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />





<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Lemonade</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="canonical" href="./index.html">
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  <link rel="manifest" href="./manifest.json">
  <link rel="mask-icon" href="./safari-pinned-tab.svg"
    color="#5bbad5">
  <link rel="shortcut icon" href="./favicon.ico">
  <meta name="msapplication-config" content="./browserconfig.xml">
  <meta name="theme-color" content="#81d4fa">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    h1,
    h4 {
      color: yellow;
    }

  </style>

  <body style="background-color:#81d4fa;" class="light-blue-text text-darken-4 container flow-text">
  <section id="gameSection">
<div id="loader">
  <h1 id="lemonade">Lemonade</h1>
  <h4 id="objective">Hello!</h4>
  <p>
    We are a start-up e-commerce site trying to break into the competitive lemonade
    stand business in Madison, WI. Our unique selling point is two hour delivery:
    you place your order with us and within two hours all your materials will be at your door.
  </p>
  <p>
    Unlike other e-commerce sites that force you to buy in
    bulk and risk spoilage, we encourage you to purchase
    each day so you can be sure to have the freshest
    ingredients possible to help your lemonade stand become
    the best one on the block!
  </p>
  <p>
    To make your purchase, simply drag the slider for each
    supply until you have the desired quantity. When you’re
    finished, click the tasty lemonade glass and your order
    will be on its way!
  </p>
  <p>
    Since the lemonade stand business is so competitive,
    we’re always doing our best to provide you with the
    best service. Our newest feature is a recommendation
    system that suggests order amounts. If you’d like to
    use it, just look to the box in the top-left of the
    screen and drag the slider to match those numbers.
  </p>
  <p>Happy selling!</p>
  <p>
    Disclaimer: your interaction data will be captured while
    using the website. Interaction data is defined as any user
    interface action that happens on site, examples include clicking
    purchase button, adjusting sliders, etc. Additionally, after
    you complete the game (seven in-game days) you will be asked to
    complete a survey, responses will be recorded.
  </p>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large yellow" onclick="window.location.href='/'" onclick="window.navigator.vibrate(20);"><i class="large mdi mdi-play mdi-36px light-blue-text">Play</i></a>
</div>
</section>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-105249591-1', 'auto');
  ga('send', 'pageview');
</script>
</body>

</html>
